
.icon-rocket:before { content: '\e800'; } /* '' */
.icon-bug:before { content: '\e801'; } /* '' */
.icon-chart-line:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */